<!-- main/templates/main/yoga_list.html -->

{% extends 'main/base.html' %}
{% block content %}
<style>
  .yoga-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }

  .yoga-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Remove underline for text inside the cards */
  }

  .yoga-card img {
    width: 100%;
    height: auto;
  }

  .yoga-card h3 {
    margin: 10px 0;
    color: #4CAF50;
  }

  .yoga-card p {
    margin: 0 10px 10px 10px;
    color: #333;
    font-size: 1em;
    line-height: 1.4;
  }

  .yoga-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .yoga-card a {
    color: inherit; /* Ensure the text color inside the card is inherited */
    text-decoration: none; /* Ensure no underline for links */
    display: block; /* Ensure the link covers the entire card */
  }

  .back-button-container {
    text-align: right;
    margin-bottom: 20px;
  }

  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .back-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
</style>

<div class="back-button-container">
  <a href="{% url 'profile' %}" class="back-button">Back to Profile</a>
</div>

<div class="yoga-list-container">
  {% for yoga_asana in yoga_asanas %}
  <div class="yoga-card">
    <a href="{% url 'yoga_detail' yoga_asana.pk %}">
      <img src="{{ yoga_asana.image.url }}" alt="{{ yoga_asana.name }}">
      <h3>{{ yoga_asana.name }}</h3>
      <p>{{ yoga_asana.description|truncatewords:20 }}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
